@import 'style/style.scss';

.numbers-section {
  @include column;
  gap: 2em;
  background-color: $textLight;
  width: 100%;
  padding: 2em 12em 4em 12em;
  box-shadow: $shadow;

  .title {
    color: $textDark;
    font-weight: 600;
    font-size: 2.5em;
  }

  .columns-container {
    @include row;
    width: 100%;
    justify-content: space-between;

    .column {
      @include column;

      .number {
        color: $bgSecondary;
        opacity: 0.9;
        font-weight: 500;

        &.highlight {
          color: $orange800;
        }
      }

      .name {
        color: $textDark;
        font-weight: 500;
        font-size: 1.5em;
      }

      .description {
        color: $textDark;
        text-align: center;
        color: $textMedium;
      }
    }
  }
}
