@import 'style/style.scss';

.numbers-section {
  @include column;
  gap: 2em;
  background-color: $textLight;
  width: 100%;
  padding: 2em 12em 3em 12em;
  box-shadow: $shadow;
  scroll-snap-align: start;

  &-title {
    color: $textDark;
    font-weight: 500;
    font-size: 2em;
  }

  .columns-container {
    @include row;
    width: 100%;
    justify-content: space-between;

    .column {
      @include column;

      .number-number {
        color: $bgSecondary;
        opacity: 0.9;
        font-weight: 500;
        font-size: 3em;

        &.highlight {
          color: $orange800;
        }
      }

      .number-name {
        color: $textDark;
        font-weight: 500;
        font-size: 1.5em;
        text-transform: uppercase;
      }

      .number-description {
        color: $textDark;
        text-align: center;
        color: $textMedium;
      }
    }
  }
}
