# connection to back-end
# HTTPS (default in Heroku)
REACT_APP_SERVER_PORT=3333
REACT_APP_SERVER_HOST="http://localhost"
# firebase: get these here https://console.firebase.google.com/
REACT_APP_FIREBASE_KEY="XXXX-XXXX-XXXX-XXXX"
REACT_APP_FIREBASE_DOMAIN="XXXX-XXXX-XXXX-XXXX"
REACT_APP_FIREBASE_PROJECT_ID="XXXX-XXXX-XXXX-XXXX"
REACT_APP_FIREBASE_STORAGE_BUCKET="XXXX-XXXX-XXXX-XXXX"
REACT_APP_FIREBASE_SENDER_ID="XXXX-XXXX-XXXX-XXXX"
REACT_APP_FIREBASE_APP_ID="XXXX-XXXX-XXXX-XXXX"