@import 'style/style.scss';

.result-row {
  @include grid-center;
  grid-template: 1fr / repeat(4, 6em);
  grid-column: span 4;

  &:nth-of-type(2) {
    .badge img {
      border: 5px solid $red500;
    }

    .sentence {
      color: $red500;
    }
  }

  .badge {
    img {
      @include badge(4em);
    }

    .stars {
      @include row;
      position: relative;
      bottom: -0.5em;

      // offset stars to create an arc-like shape
      svg {
        @include square(4em);
        position: absolute;
        opacity: 1;
        fill: $amber400;
        bottom: -1.5em;

        &:nth-of-type(2) {
          left: 1.5em;
          transform: translateY(-1em);
        }

        &:nth-of-type(3) {
          transform: translateX(3em);
        }
      }
    }
  }

  .name {
    justify-self: end;
    margin-right: 0.5em;
  }

  .sentence {
    font-weight: 600;
    color: $amber400;
  }
}
