@import './style/style.scss';

* {
  @include reset-space;
  box-sizing: border-box;
  color: $textLight;
}

body {
  @include reset-space;
  @include center;
  @include screen;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  user-select: none;
  overflow: auto;

  // gradient with texture
  background-image: url($textureSubtleGrunge),
    linear-gradient(332deg, $bgPrimary 0%, $bgSecondary 100%);
  background-blend-mode: color-burn;
}

.app {
  @include screen;
  @include fixed;
}
