@import 'style/style.scss';

.countdown {
  @include center;
  font-size: 20em;
  font-weight: 600;

  // style before animation
  .number {
    position: absolute;
    opacity: 0;
    transform: scale(0.7);
  }
}
