// palette

$amber400: #ffca28;
$orange400: #ffa726;
$orange800: #ef6c00;
$red500: #f44336;
$teal500: #009688;

// text

$textDark: #515151;
$textMedium: rgb(122, 122, 122);
$textLight: white;

// background

$textureSubtleGrunge: '/assets/images/subtle-grunge.png';
$texturePaperFibers: 'https://www.transparenttextures.com/patterns/paper-fibers.png';

// gradient colors

$bgPrimary: #67179b;
$bgSecondary: #4540d8;

// shadows

$shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
