@import 'style/style.scss';

.scroll-up-button {
  @include circle(4em);
  @include center;
  align-self: center;
  background-color: $orange800;
  cursor: pointer;

  svg {
    @include square(2.5em);
    transform: rotate(90deg);
    fill: $textLight;
  }
}
