@import 'style/style.scss';

.versus-header {
  @include center;
  position: fixed;
  gap: 2em;
  // to fix conflicts with .blocked-overlay
  z-index: 1;
  top: 2em;
  width: 100vw;

  h2 {
    font-weight: 400;
    margin-top: 0.5em;
  }

  &.alone {
    @include column;

    .left-name {
      order: 1;
    }
  }

  .middle {
    @include square(6em);
    @include center;
    cursor: pointer;
    position: relative;
  }

  .square {
    @include square(6em);
    @include rounded;
    background-color: $orange800;
    box-shadow: $shadow;
  }

  .vs {
    @include fill;
    @include center;
    color: $textLight;
    font-size: 4em;
    position: absolute;
    text-shadow: $shadow;

    svg {
      @include square(0.8em);
      position: absolute;
      fill: $textLight;
    }

    .alone-icon {
      opacity: 1;
    }

    .running-icon {
      opacity: 0;
    }
  }
}
