@import 'style/style.scss';

.features-section {
  @include column;
  gap: 2em;
  background-color: $textLight;
  padding: 2em 12em 3em 12em;
  box-shadow: $shadow;

  .features-section-title {
    color: $textDark;
    font-weight: 500;
    font-size: 2em;
    margin-bottom: 1em;
  }

  .features-row {
    @include row;
    width: 100%;
    justify-content: space-between;

    .feature-column {
      @include column;

      .feature-icon {
        @include square(4em);
        fill: $bgSecondary;
        margin-bottom: 1em;
      }

      .feature-name {
        color: $textDark;
        font-weight: 500;
        font-size: 1.5em;
        text-transform: uppercase;
      }

      .feature-description {
        color: $textDark;
        text-align: center;
        color: $textMedium;
      }
    }
  }
}
