@import 'style/style.scss';

.features-section {
  @include column;
  gap: 2em;
  background-color: $textLight;
  padding: 2em 12em;

  .title {
    color: $textDark;
  }

  .features-container {
    @include row;
    gap: 8em;
    justify-content: space-between;

    .feature {
      @include column;
      height: 300px;

      .icon {
        @include square(6em);
        fill: $bgSecondary;
      }

      .name {
        color: $textDark;
      }

      .description {
        color: $textDark;
        text-align: center;
      }
    }
  }
}
