@import 'style/style.scss';

.hero-section {
  @include row;
  justify-content: space-between;
  margin: 0 12em 2em 12em;

  .column {
    @include column;
    gap: 2em;
    width: 50%;
    height: 100%;
  }

  .left {
    align-items: flex-start;
    width: 360px;

    .hero-title {
      width: 350px;
      line-height: 1.2em;
    }

    .hero-subtitle {
      font-weight: 400;
      opacity: 0.7;
      line-height: 2em;
      font-size: 1.5em;
    }
  }

  .right {
    @include row;
    // @include debug;

    .hero-graphic {
      // @include debug;
      margin-right: -1.2em;
      margin-top: 2em;
      height: 75%;
      align-self: flex-end;
    }
  }
}
